*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  display: block;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
